extends bootstrap

mixin alert(type, text)
    .alert.alert-dismissible.fade.in(class=`alert-${type}` role="alert" style='margin-left: auto; margin-right: auto;')
      button.close(type="button" data-dismiss="alert")
        span &times;
      p= text
block head
  script(src="https://use.fontawesome.com/cd61a3bba5.js")
block body
  include navbar
  .container-fluid
    if req.flash
      each val, index in req.flash()
        each v in val
          +alert(index, v)
  block content