ul.nav.navbar-nav.navbar-right
	li.dropdown#loginDropdown
		a.dropdown-toggle(href="#", data-toggle="dropdown", role="button", aria-haspopup="true", aria-expanded="false")
			if req.session.user
				i.fa.fa-user(style="margin-right: 5px")
				| #{req.session.user.name}
			else
				| Login
			span.caret
		ul.dropdown-menu
			li
				if req.session.user
					a(href="/auth/logout") Logout
				else
					a(href="/auth/discord/"): img(src="/images/discord-login.png" alt="Discord Login" width=300)