ul.nav.navbar-nav.navbar-right
				li.dropdown
					a.dropdown-toggle(href="#", data-toggle="dropdown", role="button", aria-haspopup="true", aria-expanded="false")
						| Login 
						span.caret
					ul.dropdown-menu
						li
							a(href="#"): img(src="/images/discord-login.png" width=300)