extends layout

mixin category(text)
    li.list-group-item.category= text
        span.glyphicon.glyphicon-chevron-right.pull-right

mixin sound(name, length)
    li.sound-item.list-group-item= name
        div.flex-right
            span.badge(style="margin-right: 10px;")= length
            button(type="button").btn.btn-md.btn-default.sound-btn
                span.glyphicon.glyphicon-play       

block head
    title Sounds - RaidBot
    link(rel="stylesheet" href="/stylesheets/sounds.css")

block content
    .container-fluid
        .row
            .col-md-3
                ul.list-group
                    +category("Rage")
                    +category("Fun")
                    +category("Musik")
                    
            .col-md-9
                ul.list-group
                    +sound("Sound1", "0:58")
                    +sound("Sound2", "0:15")
                    +sound("Sound3", "0:07")

block scripts
    script(src="/javascripts/sounds.js")