extends layout

mixin category(text, members)
	li.list-group-item.category= text
		span.glyphicon.glyphicon-chevron-right.pull-right
		span.badge.pull-right= members

mixin sound(name, length)
	li.sound-item.list-group-item= name
		div.flex-left.edit-icon
			a(onClick="alert('test')")
				span.fa.fa-pencil
		div.flex-right
			span.badge(style="margin-right: 10px;")= length
			button(type="button").btn.btn-md.btn-default.sound-btn
				span.glyphicon.glyphicon-play       

append head
	title Sounds - RaidBot
	link(rel="stylesheet" href="/stylesheets/sounds.css")
	link(rel="stylesheet", href="/stylesheets/bootstrap-tagsinput.css")
	link(rel="stylesheet", href="/stylesheets/bootstrap-tagsinput-typeahead.css")

block content
	.container-fluid
		.row
			.col-md-3
				ul.list-group#categorylist
					li.list-group-item.text-center
						span.fa.fa-refresh.fa-spin
					
			.col-md-9
				ul.list-group#soundlist
					li.list-group-item.text-center
						span.fa.fa-refresh.fa-spin
					
	.modal.fade(tabindex="-1", role="dialog")#editSoundModal
		.modal-dialog(role="document")
			.modal-content
				.modal-header
					button.close(type="button", data-dismiss="modal", aria-label="Close")
						span(aria-hidden="true") ×
					h4.modal-title Edit Sound
				.modal-body
					.form-group
						label(for="name") Name
						input(type="text", placeholder="Name").form-control#name
					.form-group
						label(for="name") Categories
						select(multiple, data-role="tagsinput", placeholder="Categories")#categories
				.modal-footer
					button.btn.btn-danger.pull-left(type="button", data-toggle="modal", data-target="#deleteSoundModal") Delete Sound
					button.btn.btn-default(type="button", data-dismiss="modal") Close
					button.btn.btn-primary(type="button", onclick="updateSound(this)") Save changes

	.modal.fade(tabindex="-1", role="dialog")#deleteSoundModal
		.modal-dialog(role="document")
			.modal-content
				.modal-header
					button.close(type="button", data-dismiss="modal", aria-label="Close")
						span(aria-hidden="true") ×
					h4.modal-title Delete Sound
				.modal-body
					p.text-center: strong Are you sure?
				.modal-footer
					button.btn.btn-danger(onclick="deleteSound(this)") Delete Sound
					button.btn.btn-primary(type="button", data-dismiss="modal") No, take me back
block scripts
	script(src="/javascripts/bootstrap-tagsinput.min.js")
	script(src="/javascripts/typeahead.bundle.js")
	script(src="/javascripts/sounds.js")